$navraleway: 1.15rem 'Open Sans',
sans-serif;
$footerraleway: 1.15rem 'Open Sans',
sans-serif;
$h1raleway:bold 2rem 'Open Sans',
sans-serif;
$regularraleway: 1.25rem 'Open Sans',
sans-serif;
$graphheadline: 1.4em 'Open Sans',
sans-serif;