@import 'components/headnav';
@import 'components/footer';
@import 'components/global/typography';
.headline {
    font: $h1raleway;
}

.main {
    font: $regularraleway;
    margin: 3% 10% 3% 10%;
}

.headshots {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 60%;
    justify-content: space-evenly;
    img {
        width: 100%;
        height: 100%;
        margin-top: .5%;
        margin-left: 0%;
    }
    .davids_info,
    .canans_info {
        flex-direction: column;
    }
    .name {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: -20%;
        margin-top: 0%;
    }
    .position {
        font-weight: bolder;
        margin-bottom: -20%;
    }
}