@import 'components/headnav';
@import 'components/footer';
@import 'components/global/typography';
.headline {
    font: $h1raleway;
}

.main {
    font: $regularraleway;
    margin: 3% 10% 3% 10%;
}

.photostrip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 50%;
    .toprow,
    .bottomrow {
        display: flex;
        flex-direction: row;
        img {
            height: 50%;
            width: 50%;
        }
    }
}

.google-graphs {
    display: grid;
    grid-template-columns: fr fr;
    justify-items: center;
    .graph_two {
        grid-column-start: 2;
    }
    p {
        font: $graphheadline;
    }
}