@import 'components/headnav';
@import 'components/footer';
@import 'components/global/typography';
.headline {
    font: $h1raleway;
}

.photostrip {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin: 3% 10% 3% 10%;
}

.toprow,
.bottomrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
        height: 50%;
        width: 50%;
    }
}

.main {
    font: $regularraleway;
    margin: 3% 10% 3% 10%;
}