@import 'components/headnav';
@import 'components/footer';
@import 'components/global/typography';
.headline {
    font: $h1raleway;
    text-align: center;
}

.bio {
    font: $regularraleway;
    margin: 3% 10% 3% 10%;
}

.video {
    display: flex;
    justify-content: center;
    video {
        width: 50%;
        height: 50%;
    }
}